# config for rsync backup script
RSYNC_OPTS="-auv"

BAKSRC="/opt/redmine/files"

# NOTE: be careful whether or not to add a trailing '/' to BAKDST!!
BAKDST="${BAKDIR}/rsync/"

LOGNAME="rsync"
LOGDST="${BAKDIR}/rsync/logs"


## vim: ft=sh
